a 
{
	text-decoration: none;
	color:#4A7DD6;	
}

a:hover 
{
	text-decoration: none;
	color:#666666;			
}

body, td, p, input, select, textarea {
	font-family:verdana;
	font-size:10px;
	margin:0px 0px 0px 0px;
}

body {
  background-image: url("http://nwnchlpcs02/msuserform/assets/client/images/bgTile.gif");
}

p 
{
  float:left;
}

td 
{
	text-align:left;	
}

form {
	margin: 0px; 
	padding: 0px;
}

.altBgRowColor {
	background-color:#E7EFF7;
	height:18px;
	border-bottom: 1px solid white;	
}

.bgRowColor {
	background-color:#C6DBFF	;
	height:18px;
	border-bottom: 1px solid white;	
}

.bannerbg 
{
	background-color:#4A7DD6;	
}

.button 
{
	border:1px solid #000;
	font-size:10px;
	cursor:pointer;		
	clear:both;
}

.button:hover 
{
	border:1px solid #000;
	font-size:10px;
	cursor:pointer;		
	clear:both;
	background-color:#fff;
}

.buttonSpacing 
{
	padding:5px 0px 0px 0px;	
	text-align:left;
}

.cell 
{
  padding:1px 0px 0px 2px;
  text-align:left;
  border: 1px solid white;
  overflow: hidden;
}

.checkBoxText 
{
	float:left;	
	padding:3px 2px 0px 0px;	
}

.checkBoxContainer 
{
	float:left;
	padding:0px 5px 0px 0px;	
}

.clear 
{
	padding:3px 0px 3px 0px;	
}

.colLeft 
{
	float:left;
	width:150px;
	text-align:right;
	padding:0px 5px 0px 0px;
}

.colRight 
{
	float:left;
	width:150px;
	text-align:left;
	padding:0px 0px 0px 5px;
}

.count 
{
	text-align:right;
	padding-right:10px;
}

.editLink 
{
	float:left;	
}

.editRowStyle 
{
	background-color:#B0B0B0;
}

.footer {
 	background-color:#B5B6B5;
	color:#000;	
	border: 1px outset #333;
	font-weight:bold;
	text-align:right;
}

.gradbg 
{
	background-image:url('images/tograd.gif');
}

.header {
 	background-color:#9CBAEF;
	color:#000;	
	border: 1px outset #ccc;
	font-weight:bold;
	text-align:left;
	padding:3px 0px 3px 3px;
}

.inputButtonPadding 
{
	text-align:center;
	padding-top:10px;	
}

.inputFormPadding 
{
	padding-top:10px;
	padding-bottom:10px;
}

.inputText 
{
  
}

.integratorViewHeader 
{
	background-color:#4A7DD6;
	color:#fff;
	font-weight:bold;
	padding:3px 0px 3px 5px;
	font-size:12px;
	border:1px outset #0C359E;
}

.leftCol {
	float:left;
	text-align:right;	
	width:150px;
}

.logdate {
	display:none;
}

.mainBodyContainer 
{
	width:600px;	
	text-align:center;
  margin-left: auto;
  margin-right: auto;
}

.mainFormContainer 
{ 
	padding-top:20px;   
  margin-left: auto;
  margin-right: auto;
  width:550px;
  text-align: left;
}

.mainPageWidthAndHeight 
{
	width:600px;
	border: solid 1px #000;
	height: 300px;
	padding:0px 0px 0px 0px;	
	background-color:#fff;
}

.mainTitle {
	color:#ffffff;
	padding:3px 0px 3px 5px;
	font-size:11px;
	float:left;
}


.navTopContainer {
	padding:0px 0px 0px 0px;
	width:100%;
	background-color:#4A7DD6 !important;		
	margin:0px 0px 0px 0px;		
}

.navItemTop 
{
	float:left;	
	padding:2px 0px 2px 0px;
	width:125px;
	text-align:center;
	background-color:inherit;
	color:#ffffff;
	cursor:pointer;
	border: 1px outset #ccc;	
	xborder-right:0px;	
}

.navItemOverTop {	
	padding:2px 0px 2px 0px;
	width:125px;
	text-align:center;
	background-color:#cccccc;
	color:#000;
	cursor:pointer;
	border: 1px solid #ccc;
	xborder-right:0px;
}

.navLeftContainer {
	padding:0px 0px 0px 0px;
	width:100px;
	background-color:inherit;		
	xborder: solid 1px #000;
	margin:0px 0px 0px 0px;	
	float:left;
}

.navItemLeft {	
	padding:2px 0px 2px 5px;
	width:120px;
	text-align:left;
	background-color:#4A7DD6;
	color:#ffffff;
	cursor:pointer;
	border: 1px outset #ccc;
	xborder-right:0px;
}

.navItemOverLeft {	
	padding:2px 0px 2px 5px;
	width:120px;
	text-align:left;
	background-color:#cccccc;
	color:#000;
	cursor:pointer;
	border: 1px solid #ccc;
	xborder-right:0px;
}

.outputHeader 
{
	background-color:#AAAAAA;
	padding:3px 0px 3px 20px;
	color:#fff;		
}

.outputName
{
	background-color:#dedee6;
	padding:3px 0px 3px 25px;
	border:1px outset #000;
}

.outputBody 
{
	background-color:#dedee6;
	padding:3px 0px 3px 25px;
	border:1px outset #000;		
}

.outputPath 
{
	background-color:#fff;
	padding:3px 0px 3px 25px;
	border:1px outset #000;		
}

.outputFolder 
{
	background-color:#fff;
	padding:0px 0px 0px 15px;		
}

.pageBackLink 
{
	font-weight:normal;
	float:right;
	padding-right:5px;
	color:#ff0000;	
}

.pageContentSpacing {
	padding:20px 0px 30px 53px;
}

.pageNumberSelected {
  color: #4A7DD6;
}

.pageTitleContainer 
{
	clear:both;
	padding:0px 0px 40px 0px;	
}

.pageTitle 
{
	background-color:#ccc;
	float:left;
	width:100%;
	border-bottom:solid 1px #666;
	font-weight:bold;	
	padding:3px 0px 3px 0px;	
}

.pageTitleSpacing 
{
	padding-left:5px;	
	text-align:left;
	float:left;
}

.print {
	padding:0px 0px 0px 35px;
}

.printHeader 
{
	display:none;	
}

.pageContainer 
{	
	width:780px;
	padding:0px 0px 0px 8px;
	float:left;	
}

.printButton {
	float:right;			
}

.qcFormContainer 
{
	width:700px;
	padding:0px 0px 10px 0px;
}

.rightCol {
	text-align:left;
	width:150px;
}

.radioSpacing 
{
	padding:0px 0px 2px 0px;	
}

.row 
{
	padding: 4px 0px 4px 0px;
	!padding: 2px 0px 2px 0px;
	width:100%;
	clear:both;			
}

.scanHeader 
{	
	background-color:#9CBAEF;
	padding:3px 0px 3px 15px;
	color:#fff;	
	font-weight:bold;
}

.scanBody 
{	
	background-color:#fff;
	padding:3px 0px 3px 15px;
	font-weight:bold;
	font-size:10px;	
	border: 1px outset #000;
}

.scroll_div {
  overflow: scroll; 	
  height:500px;  
}

.selectWidth 
{
  width::160px;
}

.separator 
{
	float:left;
	padding:0px 2px 0px 2px;	
	color:#00207B;
}

.statusOpen 
{
	font-weight:normal;
	color:Red;	
}

.statusInProgress  
{
	font-weight:normal;
	color:#FF8200;
}

.statusClosed 
{
	font-weight:normal;
	color:Green;
}

.sortInputSmall 
{
	border: 1px solid #4A7DD6;
	width: 50px ;	
	padding:1px 0px 1px 0px;
}

.sortInputLarge 
{
	border: 1px solid #4A7DD6;	
	width: 250px;		
	padding:1px 0px 1px 0px;
}

.submit 
{
	padding-top:5px;	
}

.subheader {
	border: 1px outset #ccc;
	font-weight:bold;
	background-color:#ccc;
}

.subfooter {
	border: 1px solid #999;
	font-weight:normal;
	background-color:#fff;
	text-align:right;	
}

.titleRight {
	color:#ffffff;
	padding:3px 5px 3px 0px;
	font-size:10px;
	float:right;
}

.textAlignLeft 
{
	text-align:left;	
}

.textAlignCentre
{
	text-align:center;	
}

.textAlignRight
{
	text-align:right;	
}

.textArea 
{
	font-family:verdana;
	font-size:10px;		
	border: solid 1px #000;
	background-color:#C6DBFF;
	background-color:#E7EFF7		
}

.textBox, select
{
	border: solid 1px #000;
	background-color:#C6DBFF;
	background-color:#E7EFF7	
}

.textSpacing 
{
	padding:3px 8px 0px 10px;
	width:120px;
	text-align:right;
	float:left;	
	background-color:Transparent;
}

.totalsContainer 
{
	float:right;		
	padding-right:7px;
}

.toUpper 
{
	text-transform:uppercase;	
}

.validText 
{
	padding: 3px 0px 0px 5px;
	float: left;		
}

.viewCell1 
{
  text-align:right; 
  width:500px; 
  font-weight:bold;    	
}

.viewCell2
{
  text-align:left; 
  width:500px;   
  padding-right:50px    
}

viewContainer 
{
	width:900px;
	text-align:center;	
	border:solid 5px #000;
}

.viewName 
{
	padding:3px 8px 0px 10px;
	width:45%;
	text-align:right;
	float:left;	
	background-color:Transparent;				
	font-weight:bold;
}

.viewValue 
{
	border:solid 1px #000;
	padding:3px 0px 0px 0px;
	width:50%;
	text-align:left;
	float:left;		
}

		