body {

	margin:10px 10px 10px 10px;
	font-size:12px;
}

td, td.viewCell1, td.viewCell2, p, div, td 
{
	font-family:verdana;
	font-size:12px;
}

.noprint 
{
	display:none;	
}

.viewCell1 
{
  text-align:left; 
  width:130px; 
  font-weight:bold;  
  font-size: 14px;  	
}

.viewCell2
{
  text-align:left; 
  width:500px;   
  padding-right:50px;
  font-size: 14px;    
}